@import "../../constant/colors.scss"; 


.header{
    background-color: $secondary-color;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    
}

.logo{
    color: $font-primary;
    font-size: 20px;
    font-weight: 700;
}

.user-img img{
    width: 40px;
    height: 40px;
}